name: Sync Fork

on:
  schedule:
    - cron: '0 */2 * * *' 
  workflow_dispatch: 

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout target repo
        uses: actions/checkout@v3

      - name: Sync upstream
        uses: aormsby/Fork-Sync-With-Upstream-action@v3.4.1
        with:
          target_repo_token: ${{ secrets.GITHUB_TOKEN }}
          # Thay đổi tên các tham số dưới đây cho đúng phiên bản mới
          upstream_sync_repo: TienCE04/Nhom33_Chude9_CNWEB
          upstream_sync_branch: main
          target_sync_branch: main
          test_mode: false
